extends layout.pug

block style
  style
    include style.css

block content
  include ./mixins.pug
  +title('Идеальные подарки на любой вкус в магазинах ТРЦ «Планета»')
  table(cellpadding=0 cellspacing=0 border=0 width='100%' bgcolor='#eceff1')
    tr: td(height='30')
    tr: td
      table.table-600(cellpadding=0 cellspacing=0 border=0 bgcolor='#bbe2e1' align='center')
        +webversion('https://perm.planeta-mall.ru/mail/32740b60-94b9-46c6-8c8b-e9fe8f8b3900')
        +header('https://learning.2apps.ru/planeta-spring/header-logo.png', 'вместе с ТРЦ «Планета»')
        +info
          p.info2-title
            | Скоро праздники – самое время напомнить вашим близким о том,
            | как&nbsp;сильно вы их любите&nbsp;
            img.emogi(src='https://learning.2apps.ru/planeta-spring/emogi/love.png' alt='emogi сердце')
          p.info2-p(style="margin-bottom: 20px")
            | Порадуйте любимых на&nbsp;День защитника Отечества,
            | День&nbsp;святого Валентина или&nbsp;Международный женский&nbsp;день идеальными&nbsp;подарками.
            br
            | В ТРЦ «Планета» более
            span.bold  170 магазинов
            |  на любой вкус, а&nbsp;также широкий выбор кафе и&nbsp;ресторанов.
          p.info2-p
            | Проведите праздничный вечер в компании самых родных людей в ресторанах&nbsp;
            a.info-link.bold(href='https://perm.planeta-mall.ru/food/95134?utm_source=email&utm_medium=email&utm_campaign=email&utm_content=email')
              | «Гамарджоба»,
            | &nbsp;
            a.info-link.bold(href='https://perm.planeta-mall.ru/food/95122?utm_source=email&utm_medium=email&utm_campaign=email&utm_content=email')
              | «Хруст»
            |  или&nbsp;
            a.info-link.bold(href='https://perm.planeta-mall.ru/food/95227?utm_source=email&utm_medium=email&utm_campaign=email&utm_content=email')
              | FARШ
            | .
        +items(
          'https://perm.planeta-mall.ru/stores-category/110?utm_source=email&utm_medium=email&utm_campaign=email&utm_content=email',
          'https://perm.planeta-mall.ru/stores-category/109?utm_source=email&utm_medium=email&utm_campaign=email&utm_content=email',
          'https://perm.planeta-mall.ru/stores-category/112?utm_source=email&utm_medium=email&utm_campaign=email&utm_content=email',
          'https://perm.planeta-mall.ru/stores-category/104?utm_source=email&utm_medium=email&utm_campaign=email&utm_content=email',
          'https://perm.planeta-mall.ru/stores-category/106?utm_source=email&utm_medium=email&utm_campaign=email&utm_content=email',
        )
        +text
          p.info-text
            | С 17 февраля приглашаем на&nbsp;
            span.bold весеннюю ярмарку и множество мероприятий
            |  для детей и взрослых в ТРЦ «Планета».
          p.info-more.info-more3
            | Более подробная информация об акциях
            | и&nbsp;мероприятиях на сайте&nbsp;
            a.info-link(href='https://perm.planeta-mall.ru?utm_source=email&utm_medium=email&utm_campaign=email&utm_content=email')
              | perm.planeta-mall.ru
          p.info-more.info-more3(style='padding-top: 12px') Радуйте близких вместе с ТРЦ «Планета»!
        +itemsPic('https://learning.2apps.ru/planeta-spring/items-people.png')
        +gift(
          'https://perm.planeta-mall.ru/gift-card?utm_source=email&utm_medium=email&utm_campaign=email&utm_content=email',
          'https://learning.2apps.ru/planeta-spring/gift-prm.jpg',
        )
        +footer(
          'https://vk.com/trcplaneta_perm',
          'https://t.me/trcplaneta_perm',
          'https://rutube.ru/channel/24680726/',
          'https://www.youtube.com/channel/UCR3TgU3je8GTNp0QV4NllOw',
          'https://id.mall.tech/3/auth',
          'Планета',
          'ТРЦ'
        )
    tr: td(height='30')
